{% extends "layout.htm" %}
{% block content %}
<body>
<div class="container">
    <div class="col-md-8">
        <strong>0.0.6</strong>
        <li>Started building a dashboard where minimal control and overview will be displayed, configuration for this in the making.</li>
        <li>Bought and tested tellstick duo, every 30th temperature sensor event is now saved.</li>
        <li>Added some stuff to monitor temperature sensors, atm you need to figure out the ID via tdtools --list</li>
        <li>No more hacking around with hostnames in the app, set ip/hostname in config.json</li>
        <br>
        <strong>0.0.5</strong>
        <li>More sonos stuff (only one zone tested though), you now need the socket.io module. And change the string "var socket = io.connect('http://127.0.0.1:3000');" To your servers ip or dns name in the file viewmodels/sonos.viewmodel.js (gonna fix this later).</li>
        <li>A html5 canvas is used to display all units, they are movable and clickable to toggle states. You can upload you're own background image aswell as long as its .png and not huge.</li>
        <br>
		<strong>0.0.4</strong>
		<li>Sonos support (volume, start,stop,pause. tested with radiostations and spotify.)<br>IP-address of sonos bridge or main speaker need to be configured in /api/sonos.js for now.</li>
		<li>English interface. (My units and groups are still in swedish) </li>
		<br>
        <strong>0.0.3</strong>
        <li>Auto calculated sun-up and sun-down depending on coordinates, or manually selected time.</li>
        <li>Set up/down to auto/man/disabled</li>
        <br>
        <strong>0.0.2</strong>
        <li>Groups!</li>
        <li>Automated on/off on selected group.</li>
        <br>
        <strong>0.0.1</strong>
        <li>Functionality tested with a basic tellstick device (not duo or net).</li>
        <li>Add/remove/learn devices from the webinterface.</li>
        <li>Uses mongodb to keep settings for tellstick.conf, which can be written on demand.</li>
        <li>Currently uses some static settings such as protocol=arctech and self-learning switches.</li>
        <li>Automaticly turning on/off all configured outlets (only by time of day calculated by coordinates).</li>
        <li>Most things should be responsive and viewable in a mobile device</li>
        <br>
        <strong>Planned</strong>
        <li>More configuration options for adding new tellstick devices.</li>
        <li>Event driven update of Outlets, so a normal remote still can be used.</li>
        <li>General error handling for all types of things. (if you arent using my setup it might blow up)</li>
    </div>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
{% endblock %}