{% extends "layout.htm" %}
{% block content %}
<body>
<div class="container">
    <div class="col-md-8">
        <div class="panel panel-black">
            <div class="panel-heading">
                Timecontrolled on/off
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Off</p>
                    </div>
                </div>
                <div class=row>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon">Manual</span>
                            <input type="text" class="form-control" placeholder="ex 12:10" data-bind="value: ManUpTime">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon disabled">Auto</span>
                            <input type="text" class="form-control" disabled data-bind="value: upTime">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group">
                            <button class="btn"
                                    data-bind="css: { 'btn-success': ManUpStatus, 'btn-danger': !ManUpStatus() }, click: $root.ChangeManAuto.bind($data, 'ManUpStatus')">
                                Man
                            </button>
                            <button class="btn"
                                    data-bind="css: { 'btn-success': AutoUpStatus, 'btn-danger': !AutoUpStatus() }, click: $root.ChangeManAuto.bind($data, 'AutoUpStatus')">
                                Auto
                            </button>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <p>On</p>
                    </div>
                </div>
                <div class=row>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon">Manual</span>
                            <input type="text" class="form-control" placeholder="ex 12:10"
                                   data-bind="value: ManDownTime">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon disabled">Auto</span>
                            <input type="text" class="form-control" disabled data-bind="value: downTime">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group">
                            <button class="btn"
                                    data-bind="css: { 'btn-success': ManDownStatus, 'btn-danger': !ManDownStatus() }, click: $root.ChangeManAuto.bind($data, 'ManDownStatus')">
                                Man
                            </button>
                            <button class="btn"
                                    data-bind="css: { 'btn-success': AutoDownStatus, 'btn-danger': !AutoDownStatus() }, click: $root.ChangeManAuto.bind($data, 'AutoDownStatus')">
                                Auto
                            </button>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class
                    "col-md-12">
                    <center>
                        <button class="btn btn-primary" data-bind="click: $root.SaveChangeManAuto">Save changes
                        </button>
                    </center>
                </div>
            </div>
            <br>

            <div class="row">
                <div class
                "col-md-12">
                <center>
                    <p>Apply above settings to group.</p>
                    <ul class="pagination" data-bind="foreach: groups">
                        <li data-bind="css: { 'active': _id == $root.AutoGroup() }"><a href="#"data-bind="text: _id, click: $root.ChangeAutoGroup"></a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="container">
    <div class="col-md-8">
        <div class="panel panel-black">
            <div class="panel-heading">
                Coordinates
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <span class="label label-warning">Info</span>
                        <p>Type in your address to save a positions coordinates.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <input class="form-control" placeholder="Type address..." id="addresspicker_map"/>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" data-bind="click: $root.updateCoordinates">
                        Save
                    </button>
                  </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width:100%;height:300px;">
                            <div id="map_canvas" style="width:100%; height:100%"></div>
                            <div id="location" class=""></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-black">
            <div class="panel-heading">
                Manual coordinates
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <span class="label label-warning">Info</span>
                        <p>Values are autoupdated when the map is used.<br>Note that the sunup and sundown are calculated based on these coordinates every 30 minutes.</p>
                        <form id="addForm" role="form">
                            <div class="form-group">
                                <label>Lat</label>
                                <input type="text" class="form-control"
                                       data-bind="value: lat, valueUpdate: 'afterkeydown', event: { keyup: $root.checkLatLon}"/>
                            </div>
                            <div class="form-group">
                                <label>Lon</label>
                                <input type="text" class="form-control"
                                       data-bind="value: lon, valueUpdate: 'afterkeydown', event: { keyup: $root.checkLatLon}"/>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary btn-block"
                                data-bind="click: $root.updateCoordinates">
                            Save
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade " id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/bootstrap.min.js"></script>
</body >
{% endblock %}