{% extends "layout.htm" %}
{% block content %}
<body>
<div class="container">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Groups
            </div>
            <table class="table">
                <tbody data-bind="foreach: groups">
                <tr>
                    <td data-bind="text: _id"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: members"></td>
                    <td>
                        <center>
                            <button class="btn btn-danger pull-right" data-bind="click: $root.warningModal">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </center>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add new group
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <form id="addForm" role="form">
                            <div class="form-group">
                                <label>Group Id</label>
                                <input type="text" class="form-control" placeholder="Ex: 1" data-bind="value: newId"/>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Ex: All window lamps"
                                       data-bind="value: newName"/>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <p>Units belonging to this group.</p>
                            <ul class="pagination" data-bind="foreach: units">
                                <li><a href="#" data-bind="text: _id, click: $root.addMember"></a></li>
                            </ul>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary btn-block"
                                data-bind="text: groupMembers, click: $root.addGroup">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Remove group -->
<div class="modal fade " id="removalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p>Really delete this group?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: $root.deleteGroup"/>
                    Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
{% endblock %}
