
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>0.0.2</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap switch CSS -->
    <link href="css/bootstrap-switch.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">

  </head>
  <script type="text/javascript" language="javascript" src="js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" language="javascript" src="js/knockout-2.1.0.js"></script>
  <script type="text/javascript" language="javascript" src="js/knockout.mapping-latest.js"></script>
  <script type="text/javascript" language="javascript" src="viewmodels/index.viewmodel.js"></script>
  <script>
  $(document).ready(function (){
    ko.applyBindings(new ViewModel());
  });
  </script>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/"> <img src="pics/test.png"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="telldus">Lampor</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inställningar<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/configure">Tellstick</a></li>
              <li><a href="/configure-groups">Tellstick grupper</a></li>
              <li><a href="/configure-auto">Tellstick Automation</a></li>
            </ul>
          </li>
          <li><a href="about">Om</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>


  <br><br>
  <div class="container">
      <div class="col-md-10">
        <a href="telldus" class=""><img style="width:150px;height:200px;padding:25px 25px;" src="pics/lightbulb.svg" class="img-thumbnail"></a> 
        <a href="configure"><img style="width:150px;height:200px;padding:25px 25px;" src="pics/wrench.svg" class="img-thumbnail"></a> 
      </div>
  </div>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
