{% extends "layout.htm" %}
{% block content %}
<body>
<div class="container">
    <div class="col-md-4">
      	<div class="panel panel-default">
  			<div class="panel-heading">
				<span class="glyphicon glyphicon-cloud"></span> Temperature sensors
			</div>
			<div class="panel-body">
				<!-- <p data-bind="text: temperature"></p> -->
				<div id="gauge1" style="max-width: 200px; height: 200px; margin: 0 auto"></div>
			</div>
	   	</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-music"></span> Sonos control
			</div>
			<div class="panel-body">
			    <center>
			        <button class="btn btn-primary" data-bind="click: $root.controlsonos.bind($data, 'play')">
			            <span class="glyphicon glyphicon-play"></span>
			        </button>
			        <button class="btn btn-primary" data-bind="click: $root.controlsonos.bind($data, 'pause')">
			            <span class="glyphicon glyphicon-pause"></span>
			        </button>
			         <button class="btn btn-primary" data-bind="click: $root.controlsonos.bind($data, 'stop')">
			            <span class="glyphicon glyphicon-stop"></span>
			        </button>
			        <button class="btn btn-primary" data-bind="click: $root.controlsonos.bind($data, 'voldown')">
			            <span class="glyphicon glyphicon-volume-down"></span>
			        </button>
			        <button class="btn btn-primary" data-bind="click: $root.controlsonos.bind($data, 'volup')">
			            <span class="glyphicon glyphicon-volume-up"></span>
			        </button>
			    </center>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="col-md-4">
        <div class="panel panel-default">
        	<div class="panel-heading">
				<span class="glyphicon glyphicon-off"></span> Outlet groups
			</div>
			<div class="panel-body">
                <div data-bind="foreach: groups">
                	<div class="col-md-12 extra-bottom-spacing">
                        <div class="row">
                            <div class="col-md-6">
                                <span data-bind="text: name"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button class="btn btn-success" data-bind="click: $root.toggleGroupOn">
                                        On
                                    </button>
                                    <button class="btn btn-danger" data-bind="click: $root.toggleGroupOff">
                                        Off
                                    </button>
                                </div>
                            </div>
                        </div>
		            </div>
                </div>
	        </div>
        </div>
    </div>
	<!-- Modal -->
	<div class="modal fade " id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	     aria-hidden="true">
	    <div class="modal-dialog modal-dialog-center">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Loading...</h4>
	            </div>
	            <div class="modal-body">
	                <div class="progress progress-striped active">
	                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
	                         aria-valuemax="100" style="width: 100%">
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
{% endblock %}
