<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>0.0.6</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    
    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">

</head>
<script type="text/javascript" language="javascript" src="js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" language="javascript" src="js/knockout-3.0.0.js"></script>
<script type="text/javascript" language="javascript" src="js/nunjucks.js"></script>
{% if page %}
<script type="text/javascript" language="javascript" src="viewmodels/{{ page }}.viewmodel.js"></script>
{% endif %}
{% if page == "map" %}
<script type="text/javascript" language="javascript" src="js/bootstrap.file-input.js"></script>
{% endif %}
{% if page == "sonos" %}
<script type="text/javascript" language="javascript" src="http://flippy.osund.com:3000/socket.io/socket.io.js"></script>
{% endif %}
{% if page == "temperature" %}
<script type="text/javascript" language="javascript" src="js/highcharts.js"></script>
<!-- <script type="text/javascript" language="javascript" src="http://flippy.osund.com:3001/socket.io/socket.io.js"></script> -->
{% endif %}
{% if page == "index" %}
<script type="text/javascript" language="javascript" src="js/highcharts.js"></script>
<script type="text/javascript" language="javascript" src="js/highcharts-more.js"></script>
<script type="text/javascript" language="javascript" src="http://flippy.osund.com:3001/socket.io/socket.io.js"></script>
{% endif %}
{% if page == "configure-auto" %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" language="javascript" src="js/bootstrap-typeahead.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.addresspicker.js"></script>
<script type="text/javascript" language="javascript" src="js/moment.js"></script>
{% endif %}
{% if page %}
<script>
    $(document).ready(function () {
        ko.applyBindings(new ViewModel());
    });
</script>
{% endif %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HomeNode 0.0.6</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Outlets<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/telldus">Units/Group list</a></li>
                        <li><a href="/map">Unit map</a></li>
                        <!--<li><a href="/telldus-speech">Speechtest</a></li>-->
                    </ul>
                </li>
                <li><a href="/sonos">Sonos</a></li>
                <li><a href="/temperatures">Sensors</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configure<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/configure">Outlets</a></li>
                        <li><a href="/configure-groups">Outlet groups</a></li>
                        <li><a href="/configure-auto">Outlet automation</a></li>
                        <li><a href="/configure-temperatures">Sensors</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<br><br>
{% block content %}
{% endblock %}
</html>
