{% extends "layout.htm" %}
{% block content %}
<body>
<div class="container-fluid">
    <div class="panel panel-black">
        <div class="panel-body">
            <div class="row">
                <center>
                    <canvas id="canvas">
                        This text is displayed if your browser does not support HTML5 Canvas.
                    </canvas>
                </center>
            </div>
            <div class="row">
                <center>
                    <div class="btn-group">
                        <button class="btn btn-primary" data-bind="text: edittext, click: $root.editMode"></button>
                        <button class="btn btn-primary" data-bind="click: $root.uploadBackground">Upload background</button>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div id="notification-div" class="alert alert-info"><center><b><span data-bind="text: notification"></span></b></center></div>
        <div class="col-md-4">
        </div>
    </div>

   
<!-- Modal -->
<div class="modal fade " id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <p>Upload a new background image in .png format.</p>
                <form id="uploadform" method="post" enctype="multipart/form-data" action="/uploadbg">
                    <input class="btn btn-primary" type="file" name="file"></input>
                    <br><br>
                    <button class="btn btn-primary" data-bind="click: $root.submitBackground">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
{% endblock %}