<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>0.0.5</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">

</head>
<script type="text/javascript" language="javascript" src="js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" language="javascript" src="js/knockout-2.1.0.js"></script>
<script type="text/javascript" language="javascript" src="js/knockout.mapping-latest.js"></script>
<script type="text/javascript" language="javascript" src="viewmodels/sonos.viewmodel.js"></script>
<script type="text/javascript" language="javascript" src="http://flippy.osund.com:3000/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function () {
        ko.applyBindings(new ViewModel());
    });
</script>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="/">HomeNode 0.0.5</a>
        </div>
       <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tellstick<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/telldus">Units/Group list</a></li>
                        <li><a href="/map">Unit map</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">Sonos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configure<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/configure">Tellstick units</a></li>
                        <li><a href="/configure-groups">Tellstick groups</a></li>
                        <li><a href="/configure-auto">Tellstick automation</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<br><br>

<div class="container">
    <div class="col-md-8">
        <div class="panel panel-black">
            <div class="panel-heading">
                Sonos
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="row h1">
                        <span data-bind="text: state"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: artist"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: album"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: title"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: currentzone"></span>
                    </div>
                    <br>
                    <div class="row">
                        <center>
                            <span>Progress</span>
                        </center>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" data-bind="style:{width: position}, css:{'aria-valuemax': duration}">
                            </div>
                        </div>
                        <center>
                            <span>Volume</span>
                        </center>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style:{width: volume}">
                            <span data-bind="text: volume"></span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <center><img data-bind="attr:{src: albumArtURL}" class="img-rounded"></center>
                </div>
                <div class="row extra-top-spacing">
                    <div class="col-md-12">
                        <center>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'play')">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'pause')">
                                <span class="glyphicon glyphicon-pause"></span>
                            </button>
                             <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'stop')">
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'voldown')">
                                <span class="glyphicon glyphicon-volume-down"></span>
                            </button>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'volup')">
                                <span class="glyphicon glyphicon-volume-up"></span>
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade " id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
