{% extends "layout.htm" %}
{% block sonos %}
{% endblock %}
{% block content %}
<body>
<div class="container">
    <div class="col-md-8">
        <div class="panel panel-black">
            <div class="panel-heading">
                Sonos
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="row h1">
                        <span data-bind="text: state"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: artist"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: album"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: title"></span>
                    </div>
                    <div class="row">
                        <span data-bind="text: currentzone"></span>
                    </div>
                    <br>
                    <div class="row">
                        <center>
                            <span>Progress</span>
                        </center>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" data-bind="style:{width: position}, css:{'aria-valuemax': duration}">
                            </div>
                        </div>
                        <center>
                            <span>Volume</span>
                        </center>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style:{width: volume}">
                            <span data-bind="text: volume"></span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <center><img data-bind="attr:{src: albumArtURL}" class="img-rounded"></center>
                </div>
                <div class="row extra-top-spacing">
                    <div class="col-md-12">
                        <center>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'play')">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'pause')">
                                <span class="glyphicon glyphicon-pause"></span>
                            </button>
                             <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'stop')">
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'voldown')">
                                <span class="glyphicon glyphicon-volume-down"></span>
                            </button>
                            <button class="btn btn-primary" data-bind="click: $root.control.bind($data, 'volup')">
                                <span class="glyphicon glyphicon-volume-up"></span>
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade " id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
{% endblock %}